<div class="container-fluid">
  <div class="record-container">
    <uib-tabset justified="true" type="pills">
      <uib-tab index="0" heading="DATA" classes="record-data-analysis-heading">
        <div class="font-size-responsive row chart-header" ng-if="rec.record && !rec.printing">
          <span class="pull-left chart-header-label">
            Patient: {{rec.record.patientId}}
            <span class="vertical-line">&ensp;&vert;&ensp;</span>
          </span>
          <span class="pull-left chart-header-label">
            Type: {{rec.record.type}}
            <span class="vertical-line">&ensp;&vert;&ensp;</span>
          </span>
          <span class="pull-left chart-header-label">
            Date: {{rec.record.recStart | date:'dd.MM.yyyy'}}
            <span class="vertical-line">&ensp;&vert;&ensp;</span>
          </span>
          <span class="pull-left chart-header-label">
            Time: {{rec.record.recStart | date:'HH:mm:ss'}}
            <span class="vertical-line">&ensp;&vert;&ensp;</span>
          </span>
          <span class="pull-left chart-header-label">
            Temperature: <strong>{{rec.record.temp.value | number:1}}&deg;C</strong>
            <span class="vertical-line">&ensp;&vert;&ensp;</span>
          </span>
          <span class="btn-group pull-right font-size-responsive">
            <button class="btn btn-info btn-responsive glyphicon glyphicon-list" title="Records list" aria-label="Records list" ng-click="rec.goToRecords()"></button>
            <button class="btn btn-info btn-responsive glyphicon glyphicon-print" title="Print chart" aria-label="Print chart" ng-click="rec.printChart()"></button>
            <button class="btn btn-info btn-responsive glyphicon glyphicon-download" aria-label="download" ng-click="rec.downloadData()"></button>
          </span>
        </div>
        <div id="chart-container" class="font-size-responsive">
        </div>
        <div class="chart-btn" ng-if="rec.recordData && !rec.printing">
          <button
          class="btn btn-info btn-sm back-btn btn-responsive pull-left"
          ng-click="rec.handleBackwardBtn()">
            <span class="glyphicon glyphicon-backward"></span>
          </button>
          <button
          class="btn btn-info btn-sm forward-btn btn-responsive pull-right"
          ng-click="rec.handleForwardBtn()">
            <span class="glyphicon glyphicon-forward"></span>
          </button>
        </div>
        <uib-progressbar ng-if="rec.recordData && !rec.printing"
        value="rec.progressValue" type={{rec.progressType}}>
          <b>{{rec.progressValue}}%</b>
        </uib-progressbar>
        <button ng-if="rec.printing" type="button" ng-click="rec.printViewBackBtnHandler()"name="printViewBackBtn">
          Back
        </button>
      </uib-tab>
      <uib-tab index="1" heading="ANALYSIS" classes="record-data-analysis-heading">

      </uib-tab>
    </uib-tabset>
  </div>
</div>
