<div class="container-fluid">
  <div class="record-container">
    <uib-tabset justified="true" type="pills">
      <uib-tab index="0" heading="DATA" classes="record-data-analysis-heading">
        <div class="font-size-responsive row chart-header" ng-if="rec.record && !rec.printing">
          <span class="pull-left chart-header-label">
            Patient: {{rec.record.patientId}}
            <span class="vertical-line">&ensp;&vert;&ensp;</span>
          </span>
          <span class="pull-left chart-header-label">
            Type: {{rec.record.type}}
            <span class="vertical-line">&ensp;&vert;&ensp;</span>
          </span>
          <span class="pull-left chart-header-label">
            Date: {{rec.record.recStart | date:'dd.MM.yyyy'}}
            <span class="vertical-line">&ensp;&vert;&ensp;</span>
          </span>
          <span class="pull-left chart-header-label">
            Time: {{rec.record.recStart | date:'HH:mm:ss'}}
            <span class="vertical-line">&ensp;&vert;&ensp;</span>
          </span>
          <span class="pull-left chart-header-label">
            Temperature: <strong>{{rec.record.temp.value | number:1}}&deg;C</strong>
            <span class="vertical-line">&ensp;&vert;&ensp;</span>
          </span>
          <span class="btn-group pull-right font-size-responsive">
            <button class="btn btn-info btn-responsive glyphicon glyphicon-list" title="Records list" aria-label="Records list" ng-click="rec.goToRecords()"></button>
            <button class="btn btn-info btn-responsive glyphicon glyphicon-print" title="Print chart" aria-label="Print chart" ng-click="rec.printChart()"></button>
            <button class="btn btn-info btn-responsive glyphicon glyphicon-download" aria-label="download" ng-click="rec.downloadData()"></button>
          </span>
          <span class="btn-group pull-right font-size-responsive rec-segment-select">
            <select class="form-control"
              name="rec-segment"
              ng-model="rec.currentRecSegment"
              ng-change="rec.updateRawChart()"
              ng-options="s for s in rec.recSegments">
            </select>
          </span>
        </div>
        <div id="chart-container" class="font-size-responsive">
        </div>
        <div ng-if="rec.recordData && !rec.printing" class="chart-btn">
          <button
          class="btn btn-info btn-xs back-btn btn-responsive pull-left"
          ng-click="rec.handleBackwardBtn()">
            <span class="glyphicon glyphicon-backward"></span>
          </button>
          <button
          class="btn btn-info btn-xs forward-btn btn-responsive pull-right"
          ng-click="rec.handleForwardBtn()">
            <span class="glyphicon glyphicon-forward"></span>
          </button>
        </div>
        <uib-progressbar ng-if="rec.recordData && !rec.printing"
        max="100" value="100" type="info">
          <b>{{rec.currentRecSegment}}</b>
        </uib-progressbar>
        <div ng-if="!rec.recordData" class="loading">Loading Chart ....</div>
        <button ng-if="rec.printing" class="btn btn-info" ng-click="rec.printViewBackBtnHandler()"name="printViewBackBtn">
          Back
        </button>
      </uib-tab>
      <uib-tab index="1" heading="ANALYSIS" classes="record-data-analysis-heading">
        <span ng-if="rec.analysisAvailable" class="btn-group pull-right analysis-select">
          <div class="btn-group font-size-responsive" uib-dropdown is-open="status.isopen">
            <button id="single-button" type="button" class="btn btn-info btn-responsive" uib-dropdown-toggle ng-disabled="disabled">
              Analysis Types <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="single-button">
              <li ng-click="rec.setAnalysisType('afib')"><a role="button">Afib Events</a></li>
              <li ng-click="rec.setAnalysisType('pvc')"><a role="button">PVC events</a></li>
              <li class="divider"></li>
              <li ng-click="rec.setAnalysisType('alarm')"><a role="button">Alarms</a></li>
              <li ng-click="rec.setAnalysisType('poincare')"><a role="button">Poincare Plot</a></li>
            </ul>
          </div>
        </span>
        <div class="row">
          <div class="col-xs-12">
            <table class="alarms" ng-if="rec.analysisType === 'alarm'">
              <tr ng-if="rec.alarms">
                <th>Time Period</th>
                <th>Pipeline</th>
                <th>Severity</th>
                <th>Analysis Unit</th>
                <th>Description</th>
              </tr>
              <tr ng-repeat="alarm in rec.currentAlarms"
              ng-class="{'red-alarm': alarm.severity === 2, 'yellow-alarm': alarm.severity === 1, 'green-alarm': alarm.severity === 0}">
                <td>{{alarm.timePeriod}}</td>
                <td>{{alarm.pipeline}}</td>
                <td>{{alarm.severity}}</td>
                <td>{{alarm.analysisunit}}</td>
                <td>{{alarm.description}}</td>
              </tr>
            </table>
            <ul ng-if="rec.analysisType === 'alarm' && rec.alarms"
            uib-pagination total-items="rec.alarmsCount"
            ng-model="rec.currentAlarmsPage"
            ng-change="rec.onAlarmsPageChange()"
            items-per-page="rec.alarmsItemsPerPage"
            class="pagination-sm"
            boundary-links="true"
            force-ellipses="true">
            </ul>
            <div id="rr-chart-container" class="font-size-responsive"></div>
            <div id="events-chart-container" class="font-size-responsive"></div>
          </div>
        </div>
      </uib-tab>
    </uib-tabset>
  </div>
</div>
