<div ng-if="record.$auth.isAuthenticated()" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel-body records-view-body">
        <div class="row">
          <div id="raw-header" class="col-xs-6 text-center rec-view-type" role="button" ng-click="record.showRawView()" ng-style="record.rawSelected">
            <h1 class="font-size-responsive">Raw Data</h1>
          </div>
          <div id="analysis-header" class="col-xs-6 text-center rec-view-type" role="button" ng-click="record.showAnalysisView()" ng-style="record.analysisSelected">
            <h1 class="font-size-responsive">Analysis</h1>
          </div>
        </div>
        <div class="row">
          <div ui-view></div>
        </div>
      </div>
    </div>
  </div>
</div>
