<div ng-if="raw.$auth.isAuthenticated()" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-info records-view">
        <div class="panel-body rec-raw-analysis-panel-body">
          <div class="col-xs-10">
            <div ng-if="raw.chOne && !raw.printing" class="font-size-responsive row chart-header">
              <span class="pull-left chart-header-label">
                Patient id: {{raw.selectedRecordComponentsParams.patientId}}
                <span class="vertical-line">&ensp;&vert;&ensp;</span>
              </span>
              <span class="pull-left chart-header-label">
                Type: {{raw.selectedRecordComponentsParams.type}}
                <span class="vertical-line">&ensp;&vert;&ensp;</span>
              </span>
              <span class="pull-left chart-header-label">
                Duration: {{raw.getDuration(
                  raw.selectedRecordComponent.end, raw.selectedRecordComponent.start
                )}} Seconds
                <span class="vertical-line">&ensp;&vert;&ensp;</span>
              </span>
              <span class="btn-group pull-right font-size-responsive">
                <button class="btn btn-info btn-responsive glyphicon glyphicon-print" aria-label="Print Chart" ng-click="raw.printChart()"></button>
                <button class="btn btn-info btn-responsive glyphicon glyphicon-download" aria-label="download" ng-click="raw.downloadData()"></button>
              </span>
            </div>
            <div id="chart-container" class="font-size-responsive">
              <button ng-if="raw.printing" type="button"
              ng-click="raw.printViewBackBtnHandler()" name="printViewBackBtn">Back</button>
            </div>
            <div ng-if="raw.chOne && !raw.printing" class="chart-btn">
              <button
              class="btn btn-info btn-sm back-btn btn-responsive pull-left"
              ng-click="raw.handleBackwardBtn()">
                <span class="glyphicon glyphicon-backward"></span>
              </button>
              <button
              class="btn btn-info btn-sm forward-btn btn-responsive pull-right"
              ng-click="raw.handleForwardBtn()">
                <span class="glyphicon glyphicon-forward"></span>
              </button>
            </div>
            <uib-progressbar ng-if="raw.chOne && !raw.printing"
            value="raw.progressValue" type={{raw.progressType}}>
              <b>{{raw.progressValue}}%</b>
            </uib-progressbar>
          </div>
          <div ng-if="!raw.printing" class="col-xs-2">
            <div class="control-panel">
              <div ng-if="raw.currentTemp != null" class="info-label font-size-responsive">
                <span>Temp </span>&ensp;<strong>{{raw.currentTemp | number:1}}&deg;C</strong>
              </div>
              <input class="text-center form-control font-size-responsive patient-id" type="text"
              placeholder="Patient Id"
              ng-model="raw.selectedPId"
              uib-typeahead="p as p.patientId for p in raw.patients | filter:$viewValue" typeahead-on-select="raw.onSelectPatient($item.patientId)"
              typeahead-select-on-exact="true"
              typeahead-min-length="0" />
              <div class="full-filtered-display-choice">
                <label>
                  <input ng-change="raw.handleDisplayChoiceSelection()"
                  type="radio" ng-model="raw.displayChoice" value="all">
                  All Records
                </label>
                <label>
                  <input ng-change="raw.handleDisplayChoiceSelection()"
                  type="radio" ng-model="raw.displayChoice" value="filtered">
                  Records By Date
                </label>
              </div>
              <div ng-if="raw.displayChoice != 'all'" class="record-date">
                <p class="input-group">
                  <input type="text"
                    class="form-control text-center font-size-responsive" uib-datepicker-popup="{{raw.format}}"
                    ng-model="raw.selectedDate"
                    is-open="raw.opened"
                    datepicker-options="raw.dateOptions"
                    popup-placement="auto bottom"
                    ng-required="true"
                    alt-input-formats="raw.formats"
                    ng-change="raw.handleDateChanged()" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="raw.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <div ng-if="raw.recordsToDisplay.length" class="info-label font-size-responsive">
                <span>Records Found: </span>&ensp;<strong>{{raw.recordsToDisplay.length}}</strong>
              </div>
              <input class="text-center form-control font-size-responsive filtered-records" type="text"
              placeholder="Record"
              ng-model="raw.selectedRecord"
              uib-typeahead="r as r.recStr for r in raw.recordsToDisplay | filter:$viewValue" typeahead-on-select="raw.onRecordSelected()"
              typeahead-select-on-exact="true"
              typeahead-min-length="0" />
              <div ng-if="raw.recordComponents" class="record-components text-center">
                <ul class="list-group record-components-list-group">
                  <li role="button" class="list-group-item" ng-repeat="c in raw.recordComponents"
                  ng-click="raw.onRecordComponentSelected(c)">
                    {{c.start | date:'HH:mm:ss'}} - {{c.end | date:'HH:mm:ss'}}
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
