<div ng-if="rComponents.$auth.isAuthenticated()" class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3 text-center">
                            <a ui-sref="patient.record({patientId: rComponents.patientId})" >
                                <button type="button" class="pull-left btn btn-info btn-responsive font-size-responsive">
                                    {{rComponents.patientId}}
                                </button>
                            </a>
                        </div>
                        <div class="col-xs-3 text-center font-size-responsive">
                            {{rComponents.timeStamp | date:'EEE, dd.MM.yyyy HH:mm:ss'}}
                        </div>
                        <div class="col-xs-3 text-center font-size-responsive">
                            {{rComponents.type}}
                        </div>
                        <div class="col-xs-3">
                            <button type="button" class="pull-right btn btn-info btn-responsive font-size-responsive" ng-click="rComponents.downloadData()">Download</button>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-2 text-center h-scroll">
                            <ul class="list-group">
                                <li ng-repeat="rc in rComponents.components">
                                    <a class="font-size-responsive list-group-item" ui-sref-active="active" ui-sref="record-components.detail({_id: rc._id})" >
                                        <div ng-class="{'marked':rc.pEStart != -1 || rc.pEEnd != -1}">
                                            {{rc.start | date:'HH:mm:ss'}}<br>
                                            {{rComponents.getDuration(rc.end, rc.start)}} sec
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div ui-view></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
