<!--div ng-if="rDetail.$auth.isAuthenticated()" class="container-fluid">
    <div class="col-md-10">
        <div class="row" ng-show="rDetail.display == 0">
            <div class="panel panel-default">
                <div class="panel-body xy-scroll">
                    <div >
                        <span ng-if="rDetail.detail.temp != undefined" class="pull-left font-size-responsive">
                            <strong>
                                Temperature at {{rDetail.detail.end | date:'HH:mm:ss'}}: {{rDetail.detail.temp | number:2}}&deg;C
                            </strong>
                        </span>
                        <button ng-if="rDetail.display == 0" ng-show="rDetail.isECG" type="button" class="pull-right btn btn-info btn-responsive font-size-responsive" ng-click="rDetail.setDisplay(1)">
                            Show Analysis
                        </button>
                    </div>
                    <div>
                        <div class="text-center" ng-if="rDetail.numPages != undefined">
                            <ul uib-pagination total-items="rDetail.totalItems" items-per-page="rDetail.itemsPerPage" ng-change="rDetail.populateData()" ng-model="rDetail.currentPage" max-size="rDetail.maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true"></ul>
                        </div>
                        <div class="chart">
                            <canvas id="channel-1" width="1000" height="200"></canvas>
                        </div>
                        <div class="chart">
                            <canvas id="channel-2" width="1000" height="200"></canvas>
                        </div>
                        <div class="chart">
                            <canvas id="channel-3" width="1000" height="200"></canvas>
                        </div>
                        <div>
                            <button ng-if="rDetail.numPages != undefined"  type="button"
                            class="pull-left btn btn-info btn-responsive font-size-responsive glyphicon glyphicon-print"
                            aria-label="Print Chart" ng-click="rDetail.saveChart()">
                            </button>
                        </div>
                        <div>
                            <canvas id="print-chart-context" width="1250" height="900" style="display:none;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-if="rDetail.display == 1">
            <button type="button" class="pull-right btn btn-info btn-responsive font-size-responsive" ng-click="rDetail.setDisplay(0)">Show Raw</button>
        </div>
        <div class="row" ng-if="rDetail.display == 1">
            <div class="panel panel-default">
                <div class="panel-heading text-center font-size-responsive">
                    <span class="text-center"><strong>PVC EVENT</strong></span>
                </div>
                <div class="panel-body">
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading text-center">
                    <span class="text-center font-size-responsive"><strong>TACHOGRAM SIGNAL (RR INTERVAL SERIES)</strong></span>
                </div>
                <div class="panel-body">
                    <nvd3 options="rDetail.rrOptions" data="rDetail.rr" on-ready="rDetail.onReady" class="with-3d-shadow with-transitions rrInt"></nvd3>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="col-md-6">
                        <div class="panel panel-default">
                            <div class="panel-heading text-center">
                                <span class="text-center font-size-responsive"><strong>POINCARE PLOT</strong></span>
                            </div>
                            <div class="panel-body font-size-responsive">
                                <!nvd3 options="rDetail.poincareOptions" data="rDetail.poincare" class="with-3d-shadow with-transitions poincarePlot"></nvd3>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div-->

<div ng-if="analysis.$auth.isAuthenticated()" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-info records-view">
        <div class="panel-body rec-raw-analysis-panel-body">
          <div class="col-xs-10">
            <div class="font-size-responsive row chart-header">
              <span class="pull-left chart-header-label">
                Patient id: {{analysis.analysis.patientId}}
                <span class="vertical-line">&ensp;&vert;&ensp;</span>
              </span>
              <span class="pull-left chart-header-label">
                Type: {{analysis.analysis.type}}
                <span class="vertical-line">&ensp;&vert;&ensp;</span>
              </span>
              <span class="pull-left chart-header-label">
                Duration: {{analysis.duration}} Seconds
                <span class="vertical-line">&ensp;&vert;&ensp;</span>
              </span>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div id="poincare-chart" class="font-size-responsive"></div>
              </div>
              <div class="col-md-6 table-responsive font-size-responsive">
                <table class="table">
                  <thead>
                    <tr class="info">
                      <th>Feature</th>
                      <th>Value</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="success">
                      <td>Mean</td>
                      <td>{{analysis.analysis.hrvFeatures.features.mean | number:3}}</td>
                    </tr>
                    <tr class="info">
                      <td>Standard Deviation</td>
                      <td>{{analysis.analysis.hrvFeatures.features.sdnn | number:3}}</td>
                    </tr>
                    <tr class="success">
                      <td>Ratio of Powers (LF/HF)</td>
                      <td>{{analysis.hrvFeatures.features.LFHF | number:3}}</td>
                    </tr>
                    <tr class="info">
                      <td>Spectral Entropy</td>
                      <td>{{analysis.analysis.hrvFeatures.features.SPentr | number:3}}</td>
                    </tr>
                    <tr class="success">
                      <td>Dominant Frequency</td>
                      <td>{{analysis.analysis.hrvFeatures.features.DF | number:3}}</td>
                    </tr>
                    <tr class="info">
                      <td>Standard Deviation (Nearest RR Intervals)</td>
                      <td>{{analysis.analysis.hrvFeatures.features.stdrr | number:3}}</td>
                    </tr>
                    <tr class="success">
                      <td>Root Mean Square(Standard Deviation)</td>
                      <td>{{analysis.analysis.hrvFeatures.features.rmssd | number:3}}</td>
                    </tr>
                    <tr class="info">
                      <td>SD1</td>
                      <td>{{analysis.analysis.hrvFeatures.features.SD1 | number:3}}</td>
                    </tr>
                    <tr class="success">
                      <td>SD2</td>
                      <td>{{analysis.analysis.hrvFeatures.features.SD2 | number:3}}</td>
                    </tr>
                    <tr class="info">
                      <td>SD1/SD2</td>
                      <td>{{analysis.analysis.hrvFeatures.features.SD1_SD2 | number:3}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="control-panel">
              <input class="text-center form-control font-size-responsive patient-id" type="text"
              placeholder="Patient Id"
              ng-model="analysis.selectedPId"
              uib-typeahead="p as p.patientId for p in analysis.patients | filter:$viewValue" typeahead-on-select="analysis.onSelectPatient($item.patientId)"
              typeahead-select-on-exact="true"
              typeahead-min-length="0" >
              <div class="full-filtered-display-choice">
                <label>
                  <input ng-change="analysis.handleDisplayChoiceSelection()"
                  type="radio" ng-model="analysis.displayChoice" value="all">
                  All Records
                </label>
                <label>
                  <input ng-change="analysis.handleDisplayChoiceSelection()"
                  type="radio" ng-model="analysis.displayChoice" value="filtered">
                  Records By Date
                </label>
              </div>
              <div ng-if="analysis.displayChoice != 'all'" class=" record-date">
                <p class="input-group">
                  <input type="text"
                    class="form-control text-center font-size-responsive" uib-datepicker-popup="{{analysis.format}}"
                    ng-model="analysis.selectedDate"
                    is-open="analysis.opened"
                    datepicker-options="analysis.dateOptions"
                    popup-placement="auto bottom"
                    ng-required="true"
                    alt-input-formats="anlaysis.formats"
                    ng-change="analysis.handleDateChanged()" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="analysis.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <div ng-if="analysis.recordsToDisplay.length" class="info-label font-size-responsive">
                <span>Records Found: </span>&ensp;<strong>{{analysis.recordsToDisplay.length}}</strong>
              </div>
              <input class="text-center form-control font-size-responsive filtered-records" type="text"
              placeholder="Record"
              ng-model="analysis.selectedRecord"
              uib-typeahead="a as a.recStr for a in analysis.recordsToDisplay | filter:$viewValue" typeahead-on-select="analysis.onRecordSelected()"
              typeahead-select-on-exact="true"
              typeahead-min-length="0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
