<div ng-if="rComponents.$auth.isAuthenticated()" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-info">
        <div class="panel-body">
          <div ng-if="rComponents.chOne" class="font-size-responsive row chart-header">
            <span class="pull-left chart-header-label">
              <button type="button" class="btn btn-sm btn-default btn-responsive" >
                <a ui-sref="patient.record({patientId: rComponents.patientId})" >
                  Patient id: {{rComponents.patientId}}
                </a>
              </button>
              <span class="vertical-line">&ensp;&ensp;</span>
            </span>
            <span class="pull-left chart-header-label">
              <button type="button" class="btn btn-sm btn-default btn-responsive" >
                Type: {{rComponents.type}}
              </button>
              <span class="vertical-line">&ensp;&ensp;</span>
            </span>
            <span class="pull-left chart-header-label">
              <button type="button" class="btn btn-sm btn-default btn-responsive" >
                Duration: {{rComponents.getDuration(
                  rComponents.selectedComponent.end, rComponents.selectedComponent.start
                )}} Seconds
              </button>
              <span class="vertical-line">&ensp;&ensp;</span>
            </span>
            <span class="pull-left chart-header-label">
              <div class="btn-group" uib-dropdown dropdown-append-to-body>
                <button id="btn-append-to-body" type="button" class="btn btn-sm btn-info btn-responsive" uib-dropdown-toggle>
                  {{rComponents.selectedComponent.start | date:'EEE, dd.MM.yyyy HH:mm:ss'}}
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" uib-dropdown-menu role="menu"           aria-labelledby="btn-append-to-body">
                  <li role="menuitem" ng-repeat="c in rComponents.components">
                    <button ng-click="rComponents.handleRecordComponentSelect($index)">
                      {{c.start | date:'EEE, dd.MM.yyyy HH:mm:ss'}}
                    </button>
                  </li>
                </ul>
            </div>
            <span class="vertical-line">&ensp;&ensp;</span>
            </span>
            <span class="btn-group pull-right font-size-responsive">
              <button class="btn btn-info btn-responsive glyphicon glyphicon-print" aria-label="Print Chart"></button>
              <button class="btn btn-info btn-responsive glyphicon glyphicon-download" aria-label="download" ng-click="rComponents.downloadData()"></button>
            </span>
          </div>
          <div id="chart-container" class="font-size-responsive"></div>
          <button ng-if="rComponents.chOne"
            class="btn btn-info btn-sm back-btn pull-left"
            ng-click="rComponents.handleBackwardBtn()">
            <span class="glyphicon glyphicon-backward"></span>
          </button>
          <button ng-if="rComponents.chOne"
            class="btn btn-info btn-sm forward-btn pull-right"
            ng-click="rComponents.handleForwardBtn()">
            <span class="glyphicon glyphicon-forward"></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
