<div ng-if="analysis.$auth.isAuthenticated()" class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-info records-view">
        <div class="panel-body rec-raw-analysis-panel-body">
          <div class="col-xs-10">
            <div class="row">
              <div class="font-size-responsive row chart-header">
                <span class="pull-left chart-header-label">
                  Patient id: {{analysis.analysis.patientId}}
                  <span class="vertical-line">&ensp;&vert;&ensp;</span>
                </span>
                <span class="pull-left chart-header-label">
                  Type: {{analysis.analysis.type}}
                  <span class="vertical-line">&ensp;&vert;&ensp;</span>
                </span>
                <span class="pull-left chart-header-label">
                  Duration: {{analysis.duration}} Seconds
                  <span class="vertical-line">&ensp;&vert;&ensp;</span>
                </span>
              </div>
            </div>
            <div class="row">
              <div id="rr-chart-container" class="font-size-responsive"></div>
            </div>
            <div class="row">
              <div class="col-md-5 font-size-responsive">
                <div id="poincare-chart" class="font-size-responsive"></div>
              </div>
              <div class="col-md-5 font-size-responsive">
                <div id="pvc-plot" class="font-size-responsive"></div>
              </div>
            </div>
          </div>
          <div class="col-xs-2">
            <div class="control-panel">
              <input class="text-center form-control font-size-responsive patient-id" type="text"
              placeholder="Patient Id"
              ng-model="analysis.selectedPId"
              uib-typeahead="p as p.patientId for p in analysis.patients | filter:$viewValue" typeahead-on-select="analysis.onSelectPatient($item.patientId)"
              typeahead-select-on-exact="true"
              typeahead-min-length="0" >
              <div class="full-filtered-display-choice">
                <label>
                  <input ng-change="analysis.handleDisplayChoiceSelection()"
                  type="radio" ng-model="analysis.displayChoice" value="all">
                  All Records&ensp;
                </label>
                <label>
                  <input ng-change="analysis.handleDisplayChoiceSelection()"
                  type="radio" ng-model="analysis.displayChoice" value="filtered">
                  Records By Date
                </label>
              </div>
              <div ng-if="analysis.displayChoice != 'all'" class=" record-date">
                <p class="input-group">
                  <input type="text"
                    class="form-control text-center font-size-responsive" uib-datepicker-popup="{{analysis.format}}"
                    ng-model="analysis.selectedDate"
                    is-open="analysis.opened"
                    datepicker-options="analysis.dateOptions"
                    popup-placement="auto bottom"
                    ng-required="true"
                    alt-input-formats="anlaysis.formats"
                    ng-change="analysis.handleDateChanged()" />
                  <span class="input-group-btn">
                    <button type="button" class="btn btn-primary" ng-click="analysis.open()"><i class="glyphicon glyphicon-calendar"></i></button>
                  </span>
                </p>
              </div>
              <div ng-if="analysis.recordsToDisplay.length" class="info-label font-size-responsive">
                <span>Records Found: </span>&ensp;<strong>{{analysis.recordsToDisplay.length}}</strong>
              </div>
              <input class="text-center form-control font-size-responsive filtered-records" type="text"
              placeholder="Record"
              ng-model="analysis.selectedRecord"
              uib-typeahead="a as a.recStr for a in analysis.recordsToDisplay | filter:$viewValue" typeahead-on-select="analysis.onRecordSelected()"
              typeahead-select-on-exact="true"
              typeahead-min-length="0" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
