<div class="container">
    <div class="row">
        <div class="col-md-9
            <div class="panel panel-default">
                <p><strong>rPeaks</strong><br>
                    locS: {{rDetail.detail.rPeaks.locS}}<br>
                    locT: {{rDetail.detail.rPeaks.locS}}
                </p>
                <p><strong>pvcEvents</strong><br>
                    locS: {{rDetail.detail.pvcEvents.locS}}<br>
                </p>
                <p><strong>rrIntervals</strong><br>
                    signal: {{rDetail.detail.rrIntervals.signal}}<br>
                </p>
                <p><strong>hrvFeatures</strong><br>
                    sdnn: {{rDetail.detail.hrvFeatures.features.sdnn}}<br>
                    SD1: {{rDetail.detail.hrvFeatures.features.SD1}}<br>
                    SD2: {{rDetail.detail.hrvFeatures.features.SD2}}<br>
                    LFHF: {{rDetail.detail.hrvFeatures.features.LFHF}}<br>
                    SPentr: {{rDetail.detail.hrvFeatures.features.SPentr}}<br>
                    SD1/SD2: {{rDetail.detail.hrvFeatures.features.SD1/SD2}}<br>
                    stdrr: {{rDetail.detail.hrvFeatures.features.stdrr}}<br>
                    DF: {{rDetail.detail.hrvFeatures.features.DF}}<br>
                    rmssd: {{rDetail.detail.hrvFeatures.features.rmssd}}<br>
                    mean: {{rDetail.detail.hrvFeatures.features.mean}}
                </p>
            </div>
        </div>
    </div>
</div>



