<div class="container">
<div class="row">
    <div class="col-md-3">
        <div class="panel panel-default">
            <div class="panel-heading text-center">Records</div>
            <ul class="list-group">
                <li ng-repeat="r in record.records">
                    <a class="list-group-item" ui-sref-active="active" ui-sref="record-detail({
                                                        timeStamp: r.timeStamp,
                                                        patientId: r.patientId,
                                                        type: r.type
                                                        })">
                        <strong>timeStamp:</strong> {{r.timeStamp}}<br>
                        <strong>patientId:</strong> {{r.patientId}}<br>
                        <strong>type:</strong>      {{r.type}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
</div>
