<div ng-controller="NavbarController as nav" class="navbar font-size-responsive" id="vs-navbar">
  <a ng-href="#" id="app-logo-link"><img id="app-logo" ng-src="/images/white_logo.png"/></a>
  <a ng-show="nav.canManageUser()" ui-sref="users-list">Show Users</a>
  <a ng-show="nav.canManageUser()" ui-sref="register">Register User</a>
  <a id="user-info" ng-show="nav.isAuthenticated()" href ng-click="nav.logout()">
    <span class="glyphicon glyphicon-log-out"></span>&nbsp;Logout
  </a>
  <a id="logout" ng-show="nav.isAuthenticated()"
  ui-sref="user-detail({userId: nav.getAuthUser().userId})">
    <span class="glyphicon glyphicon-user"></span>&nbsp;
    {{nav.getAuthUser().userId}}
  </a>
  <a href="javascript:void(0);"
  style="font-size:20px;"
  class="icon" ng-click="nav.openNavMenu()">&#9776;</a>
</div>
