.acme-navbar-text{
  color: white;
}

.nav-bar-header  a {
  color: white;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

 .nav-bar-header a:hover, .nav-bar-header a:focus {
  color: #000000;
  font-weight: bold;
}
.nav-bar-header{
  height: 4em;
  font-weight: bolder;
  background-color: #009fda;
}
.nav-bar-link{
  height: 4em;
}
