.acme-navbar-text{
  color: white;
}

.nav-bar-header  a {
  color: white;
}

h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}

 .nav-bar-header a:hover, .nav-bar-header a:focus {
  color: black;
}

.nav-bar-header{
  background-color: blue;
}
