<div class="container">
  <div class="row">
    <div class="col-md-4 col-centered">
      <div class="panel panel-primary">
        <div class="panel-body">
          <div class="text-center login-view-header"><img width="70%" ng-src="/images/blue_logo.png" alt="Vitalsens"/></div>
          <form name="login" ng-submit="auth.login()">
            <div class="form-group">
              <label>Username</label>
              <input type="text" class="form-control" ng-model="auth.login.user.userId">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" ng-model="auth.login.user.password">
            </div>
            <button type="submit" class="form-control login-btn" pull-right">Login</button>
            <br><br><span class="alert-danger">{{auth.message}}</span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
