<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">
      <div class="panel panel-default">
        <div class="panel-heading">Edit &nbsp;&nbsp;{{usr.currentUserId}}</div>
        <div class="panel-body">
          <form name="login" ng-submit="usr.updateUser()">
            <div class="form-group">
              <label>Email</label>
              <input type="text" class="form-control" ng-model="usr.edit.user.email">
            </div>
            <div class="form-group">
              <label>Password</label>
              <input type="password" class="form-control" ng-model="usr.edit.user.password">
            </div>
            <button type="submit" class="btn btn-default">Send</button>
            <br><br><span class="alert-danger">{{usr.errorMessage}}</span>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
