<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">
      <div class="panel panel-primary">
        <div class="panel-heading">{{usr.currentUser.userId | uppercase}}</div>
        <div class="panel-body user-detail">
          <div class="col-md-3">
            <button class ="btn btn-lg btn-info glyphicon glyphicon-user"></button>
          </div>
          <div class="col-md-9">
            <div class="panel panel-info">
              <div class="panel-body">
                <div><b>{{usr.currentUser.userId}}</b></div>
                <div>{{usr.currentUser.email}}</div>
                <div>{{usr.currentUser.group.name}}</div>
                <hr>
                <div>Role: {{usr.currentUser.role}}</div>
              </div>
            </div>
            <button class="btn btn-sm btn-danger user-detail-btn" ng-if="usr.canDeleteUser()"
            ng-click="usr.deleteUser(usr.currentUser.userId)">
              <i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;Delete
            </button>
            <button class="btn btn-sm btn-info user-detail-btn" ng-click="usr.editUserView(usr.currentUser.userId)">
              <i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Edit
            </button>
            <br><br><span class="alert-danger">{{usr.errorMessage}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
