<div class="container">
  <div class="row">
    <div class="col-md-6 col-centered">
      <div class="panel panel-primary">
        <div class="panel-heading">{{usr.currentUser.userId | uppercase}}</div>
        <div class="panel-body user-detail">
          <div class="col-md-3">
            <button class ="btn btn-lg btn-info glyphicon glyphicon-user"></button>
          </div>
          <div class="col-md-9">
            <div>Username: {{usr.currentUser.userId}}</div>
            <div>Email: {{usr.currentUser.email}}</div>
            <div>Role: {{usr.currentUser.role}}</div>
            <div>Group: {{usr.currentUser.group.name}}</div>
            <button class="btn btn-sm btn-danger" ng-disabled="!usr.canDeleteUser()"
            ng-click="usr.deleteUser(usr.currentUser.userId)">
              <i class="glyphicon glyphicon-remove"></i>&nbsp;&nbsp;Delete
            </button>
            <button class="btn btn-sm btn-info" ng-click="usr.editUserView(usr.currentUser.userId)">
              <i class="glyphicon glyphicon-edit"></i>&nbsp;&nbsp;Edit
            </button>
            <br><br><span class="alert-danger">{{usr.errorMessage}}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
