<div class="container">
  <div class="record-filter-dashboard">
    <div class="row">
      <div class="col-md-3">
        <div class="form-group">
          <label>Patient Id</label>
          <select class="form-control"
            name="patientId"
            ng-model="main.selectedPatient"
            ng-change="main.getPatientRecords()"
            ng-options="patient.userId for patient in main.patients">
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>Type</label>
          <select class="form-control" name="type" ng-model="main.filters.type">
            <option value=""></option>
            <option value="ECG">ECG</option>
            <option value="PPG">PPG</option>
            <option value="IMP">IMPED</option>
            <option value="ACC">ACCEL</option>
          </select>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>From</label>
          <p class="input-group">
            <input type="text"
              class="form-control text-center font-size-responsive" uib-datepicker-popup="{{main.format}}"
              ng-model="main.filters.dateFrom"
              is-open="main.fromOpened"
              datepicker-options="main.dateOptions"
              popup-placement="auto bottom"
              show-button-bar="false"
              alt-input-formats="main.formats"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary" ng-click="main.openFrom()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label>To</label>
          <p class="input-group">
            <input type="text"
              class="form-control text-center font-size-responsive" uib-datepicker-popup="{{main.format}}"
              ng-model="main.filters.dateTo"
              is-open="main.toOpened"
              datepicker-options="main.dateOptions"
              popup-placement="auto bottom"
              show-button-bar="false"
              alt-input-formats="main.formats"/>
            <span class="input-group-btn">
              <button type="button" class="btn btn-primary" ng-click="main.openTo()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
        </div>
      </div>
    </div>
    <button class="btn btn-sm ok_btn" ng-click="main.filterRecords()">
      <i class="glyphicon glyphicon-ok"></i>
      OK
    </button>
  </div>
  <div class="row">
    <div class="col-md-10 col-centered">
      <div class="panel-body">
        <table class="rec-list" ng-if="main.filteredRecords.length > 0">
          <tr>
            <th>#</th>
            <th>Patient Id</th>
            <th>Date</th>
            <th>Time</th>
            <th>Duration (minutes)</th>
            <th>Type</th>
          </tr>
          <tr role="button" ng-click="main.showRecord(r)" ng-repeat="r in main.filteredRecords">
            <td>
              <span class="glyphicon glyphicon-trash main-trash pull-left"
              ng-if="main.getAuthUser().role === 'sudo'"
              ng-click="main.deleteRecord(e, r._id)">
              </span>{{$index}}
            </td>
            <td>{{r.patientId}}</td>
            <td>{{r.recStart | date:'dd.MM.yyyy'}}</td>
            <td>{{r.recStart | date:'HH:mm:ss'}}</td>
            <td>{{main.getDuration(r.recStart, r.recEnd) | number:2}}</td>
            <td>
              {{r.type}}
              <span class="glyphicon glyphicon-bell pull-right main-red-alarm"
              ng-if="r.alarms[0]">
              </span>
              <span class="glyphicon glyphicon-bell pull-right main-yellow-alarm"
              ng-if="r.alarms[1]">
              </span>
              <span class="glyphicon glyphicon-bell pull-right main-green-alarm"
              ng-if="r.alarms[2]">
              </span>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
