
<div ng-if="patient.$auth.isAuthenticated()" class="container">
<div class="row">
    <div class="col-xs-2">
        <div class="panel panel-info h-scroll">
            <div class="panel-heading text-center">Patients</div>
            <ul class="list-group">
                <li ng-repeat="p in patient.patients">
                    <a ui-sref-active="active" ui-sref="patient.record({
                                                        patientId: p.patientId
                                                        })" class="list-group-item" >
                        {{p.patientId}}
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div ui-view></div>
</div>
</div>
