<div class="container">

    <div class="col-md-4">
        <ul class="list-group">
            <li ng-repeat="r in pRecord.records">
                <a class="list-group-item" ui-sref-active="active" ui-sref="record-detail({
                                                timeStamp: r.timeStamp,
                                                patientId: r.patientId,
                                                type: r.type
                                                })">
                    <strong>timeStamp:</strong> {{r.timeStamp}}<br>
                    <strong>patientId:</strong> {{r.patientId}}<br>
                    <strong>type:</strong>      {{r.type}}
                </a>
            </li>
        </ul>
    </div>
</div>